svg(viewBox="0 0 0 0" width="0" height="0" style="position: absolute; width: 0; height: 0;")
    defs
        lineargradient#plus_linear(x1='5.47829' y1='8.85947' x2='26.5309' y2='28.1873' gradientunits='userSpaceOnUse')
            stop(offset='0' stop-color='#1162FF')
            stop(offset='0.552083' stop-color='#9137EF')
            stop(offset='1' stop-color='#FF35D3')

        lineargradient#social_linear(x1='28.1278' y1='33.0879' x2='-1.78311' y2='30.9742' gradientunits='userSpaceOnUse')
            stop(offset='0' stop-color='#2D81FF')
            stop(offset='1' stop-color='#82E3E9')

        lineargradient#paint_chart_linear(x1='161.312' y1='198.554' x2='-11.9616' y2='186.779' gradientunits='userSpaceOnUse')
            stop(offset='0' stop-color='#2D81FF')
            stop(offset='1' stop-color='#82E3E9')

        lineargradient#paint_phone-mask_linear(x1='198.033' y1='519.043' x2='-15.7298' y2='512.22' gradientunits='userSpaceOnUse')
            stop(offset='0' stop-color='#2D81FF')
            stop(offset='1' stop-color='#82E3E9')

        lineargradient#paint-s1_arrow_linear(x1='80.8834' y1='8.3221' x2='12.9971' y2='69.2673' gradientunits='userSpaceOnUse')
            stop(offset='0' stop-color='white' stop-opacity='0')
            stop(offset='1' stop-color='white')

        lineargradient#paint734511_linear(x1='123.457' y1='80.0082' x2='26.0895' y2='0.639938' gradientunits='userSpaceOnUse')
            stop(offset='0.00520833' stop-color='#0165FB')
            stop(offset='1' stop-color='white')

        lineargradient#paint_slider-arrow-left_linear(x1='22.7224' y1='42.2569' x2='5.4163' y2='22.6056' gradientunits='userSpaceOnUse')
            stop(offset='0' stop-color='#2D81FF')
            stop(offset='1' stop-color='#82E3E9')

        lineargradient#paint_slider-arrow-right_linear(x1='7.59047' y1='11.5185' x2='24.8966' y2='31.1698' gradientunits='userSpaceOnUse')
            stop(offset='0' stop-color='#2D81FF')
            stop(offset='1' stop-color='#82E3E9')