svg(viewBox="0 0 0 0" width="0" height="0" style="position: absolute; width: 0; height: 0;")
    defs
        lineargradient#paint_chart_linear(x1='161.312' y1='198.554' x2='-11.9616' y2='186.779' gradientunits='userSpaceOnUse')
            stop(offset='0' stop-color='#2D81FF')
            stop(offset='1' stop-color='#82E3E9')

        lineargradient#paint_phone-mask_linear(x1='198.033' y1='519.043' x2='-15.7298' y2='512.22' gradientunits='userSpaceOnUse')
            stop(offset='0' stop-color='#2D81FF')
            stop(offset='1' stop-color='#82E3E9')