-
    var linksList = [
        {
            title: 'Обо мне',
            href: '#s2',
        },
        {
            title: 'Кейсы',
            href: '#s3',
        },
        {
            title: 'Отзывы',
            href: '#s7',
        },
        {
            title: 'Этапы работы',
            href: '#s8',
        },
        {
            title: 'FAQ',
            href: '#s11',
        },
        {
            title: 'Контакты',
            href: '#s12',
        },
    ]

mixin headerLinksList
    ul.header__links&attributes(attributes)
        each link, idx  in linksList
            li.header__li: a.header__link(href=link.href title=link.title data-uk-scroll)= link.title

mixin header-menu 
    .menu&attributes(attributes)
        a.menu-icon(href="#") #[i]#[i]#[i]#[i]
        .menu-drop(data-uk-dropdown="mode: click; pos: bottom-justify; boundary: .header; boundary-align: true; animation: uk-animation-slide-top-small; duration: 300")
            block

//- Template

header.header(data-uk-sticky="top: 100vh; animation: uk-animation-slide-top")
    .container 
        .header__row 
            .header__logo: +icon('logo')

            +headerLinksList.d-none.d-lg-flex

            .header__union
                a(href="#s12" data-uk-scroll)
                    +icon('phone').header__phone-icon
                a(href="#s12" data-uk-scroll).btn.btn-outline-primary.header__phone-btn Обратный звонок

                +header-menu.header__menu
                    .header__menu-container.container
                        +headerLinksList.header__menu-links
