+popup#project-1.project
    .project__bg
        +picture(jpg, `${assets}project-bg`, 'xsml')
    .project__h1 Школа худ.гимнастики «Без Границ» в&nbsp;Санкт-Петербурге

    .project__logo
        +picture(png, `${assets}s6-project-i1`, 'n')

    .project__socials 
        .project__socials-item
            +icon('proj-inst').project__socials-icon
            p.project__socials-label 7200+ подписчиков
        a(href="#").project__socials-item
            +icon('proj-people').project__socials-icon
            p.project__socials-label sport_bezgranitc

    .project__divider 

    .project__body

        .project__body--left

            .project__h2 Задачи:

            ul.project__list
                li.project__list-item Сформировать регулярный поток заявок на занятия
            
            .project__h2 Показатели:

            ul.project__list
                li.project__list-item 
                    | Посадочная страница - квиз и лендинг#[br]
                    | #[span.project__text--yellow Онлайн] - #[span.project__text--primary 485 заявок по&nbsp;211&nbsp;₽] | бюджет 102&nbsp;470&nbsp;₽#[br]
                    | #[span.project__text--yellow Офлайн] - #[span.project__text--primary 355 заявок по&nbsp;480&nbsp;₽] | бюджет 171&nbsp;500&nbsp;₽

        .project__body--right
        
            .project__h2 Результаты:

            .project__badge
                .project__badge-text #[span #[span.project__text--primary Нашли эффективные связки со стабильными результатами] на онлайн и оффлайн направления.]

            .project__badge
                .project__badge-text Конверсия из заявки в посещение пробного занятия:

            .project__badge
                .project__badge-label Оффлайн-направление 24% 

            .project__badge
                .project__badge-label Онлайн-направление 34% 