+popup#project-2.project
    .project__bg
        +picture(jpg, `${assets}project-bg`, 'xsml')
    .project__h1 Роллер школа в Санкт-Петербурге и&nbsp;Москве 

    .project__logo
        +picture(png, `${assets}s6-project-i2`, 'n')

    .project__socials 
        a(href="https://www.instagram.com/skate_town_spb/" target="_blank" rel="noopener").project__socials-item
            +icon('proj-inst').project__socials-icon
            p.project__socials-label skate_town_spb
        a(href="https://www.instagram.com/skate_town_msk/" target="_blank" rel="noopener").project__socials-item
            +icon('proj-inst').project__socials-icon
            p.project__socials-label skate_town_msk

    .project__divider 

    .project__body

        .project__body--left

            .project__h2 Задачи:

            ul.project__list
                li.project__list-item Набрать детей в новые группы
                li.project__list-item Сформировать регулярный поток заявок на катания на роликах — индивидуальные и групповые
            
            .project__h2 Показатели:

            ul.project__list
                li.project__list-item Посадочная страница - квиз и лендинг.
                li.project__list-item  Ведём рекламу на первое #[span.project__text--primary пробное занятие за 750&nbsp;₽]
                
            ul.project__list
                li.project__list-item.project__list-item--town 
                    | #[span.project__text--yellow Санкт-Петербург] 
                    | #[br]#[span.project__text--primary 790 заявок по 455&nbsp;₽] с квиз-сайта бюджет 359&nbsp;450&nbsp;₽ 
                    | #[br]#[span.project__text--primary 264 заявока по 591&nbsp;₽] с лендинга бюджет 156&nbsp;024&nbsp;₽
                
            ul.project__list
                li.project__list-item.project__list-item--town 
                    | #[span.project__text--yellow Москва] 
                    | #[br]#[span.project__text--primary 433 заявки по 395&nbsp;₽] с квиз-сайта бюджет 171&nbsp;035&nbsp;₽
                    | #[br]#[span.project__text--primary  289 заявки по 560&nbsp;₽] с лендинга бюджет 161&nbsp;840&nbsp;₽

        .project__body--right

            .project__h2 Результаты:

            .project__badge
                .project__badge-label Конверсия 30% с квиз-сайта

            .project__badge
                .project__badge-label Конверсия 50% с лэндинга

            .project__badge
                .project__badge-text Конверсия в запись на пробное занятие за 750₽ #[br]Каждый 2 ученик остаётся заниматься на регулярной основе