+popup#project-7.project
    .project__bg
        +picture(jpg, `${assets}project-bg`, 'xsml')
    .project__h1 «Wecheap Склад» Аренда складов- контейнеров

    .project__logo
        +picture(png, `${assets}s6-project-i7`, 'n')

    .project__socials 
        .project__socials-item
            +icon('proj-people').project__socials-icon
            p.project__socials-label 1800+ подписчиков
        a(href="#").project__socials-item
            +icon('proj-inst').project__socials-icon
            p.project__socials-label get_sklad

    .project__divider 

    .project__body

        .project__body--left

            .project__h2 Задачи:

            ul.project__list
                li.project__list-item Наладить стабильный поток заявок
                li.project__list-item Снизить стоимость квалифицированных заявок
            
            .project__h2 Показатели:

            ul.project__list
                li.project__list-item Посадочная страница - квиз
                li.project__list-item #[span.project__text--yellow 1472 заявок по 430&nbsp;₽] | бюджет 631&nbsp;405&nbsp;₽

        .project__body--right
        
            .project__h2 Результаты:

            .project__badge
                .project__badge-label 7-10 заявок в день
                .project__badge-text На протяжении 7 месяцев, с помощью квиз-сайта

            ul.project__list
                li.project__list-item #[span.project__text--primary До 506&nbsp;₽ - удалось снизить стоимость] квалифицированного лида 
