+popup#project-6.project
    .project__bg
        +picture(jpg, `${assets}project-bg`, 'xsml')
    .project__h1 Глэмпинг в&nbsp;Лен.Области

    .project__logo
        +picture(png, `${assets}s6-project-i6`, 'n')

    .project__socials 
        .project__socials-item
            +icon('proj-people').project__socials-icon
            p.project__socials-label 6180+ подписчиков
        a(href="https://www.instagram.com/glamp_camp/" target="_blank" rel="noopener").project__socials-item
            +icon('proj-inst').project__socials-icon
            p.project__socials-label glamp_camp
        
    .project__divider 

    .project__body

        .project__body--left

            .project__h2 Задачи:

            ul.project__list
                li.project__list-item Протестировать Instagram как рекламный канал предоставляемой услуги 
                li.project__list-item Сформировать регулярный поток обращений 
            
            .project__h2 Показатели:

            ul.project__list
                li.project__list-item #[span.project__text--yellow 4 ₽] | средняя цена клика
                li.project__list-item24 #[span.project__text--yellow 24 ₽] | средняя стоимость подписчика в Instagram #[span.project__text--primary за&nbsp;5&nbsp;месяцев работы]

        .project__body--right
        
            .project__h2 Результаты:

            ul.project__list
                li.project__list-item Привлекли в Instagram профиль #[span.project__text--primary более 6000 живой аудитории.]
                li.project__list-item Начали ежедневно получать #[span.project__text--primary обращения в директ] Instagram и на сайте.
                li.project__list-item #[span.project__text--primary Сделали хорошую заполняемость] глэмпига в&nbsp;летне-осенний период
          
