+popup#project-4.project
    .project__bg
        +picture(jpg, `${assets}project-bg`, 'xsml')
    .project__h1 Школа Бачаты в Санкт-Петербурге

    .project__logo
        +picture(png, `${assets}s6-project-i4`, 'n')

    .project__socials 
        a(href="https://www.instagram.com/red_dance_school/" target="_blank" rel="noopener").project__socials-item
            +icon('proj-inst').project__socials-icon
            p.project__socials-label red_dance_school
        .project__socials-item
            +icon('proj-people').project__socials-icon
            p.project__socials-label 7200+ подписчиков

    .project__divider 

    .project__body

        .project__body--left

            .project__h2 Задачи:

            ul.project__list
                li.project__list-item Набрать людей в новые группы по направлениям: парные танцы и соло-направление для девушек
                li.project__list-item Сформировать регулярный поток заявок на занятия
            
            .project__h2 Показатели:

            ul.project__list
                li.project__list-item Ведём рекламу на квиз-сайт с предложением подобрать группу
                li.project__list-item Соло-направление - #[span.project__text--primary 590 заяв. по 70&nbsp;₽]
                li.project__list-item Парные занятия - #[span.project__text--primary 998 заяв. по 133&nbsp;₽]

        .project__body--right
        
            .project__h2 Результаты:

            .project__badge
                .project__badge-label 10+ заявок в день
                .project__badge-text на протяжении 6 мес

            .project__badge
                .project__badge-label 45% записываются
                .project__badge-text на первое пробное занятие  стоимостью 200₽

            .project__badge
                .project__badge-label 40% конверсия в покупку 
                .project__badge-text покупают абонемент, после прихода на пробное занятие

            .project__badge
                .project__badge-label 80% остаётся учиться
                .project__badge-text от 6 до 10 месяцев

            .project__badge
                .project__badge-label +1400 подписчиков
                .project__badge-text за 6 месяцев работы, которые решили подписаться самостоятельно.
