+popup#project-3.project
    .project__bg
        +picture(jpg, `${assets}project-bg`, 'xsml')
    .project__h1 Услуги по реставрации кухонь в&nbsp;Канаде


    .project__logo
        +picture(png, `${assets}s6-project-i3`, 'n')

    .project__socials 
        .project__socials-item
            +icon('proj-people').project__socials-icon
            p.project__socials-label 1800+ подписчиков
        a(href="https://www.instagram.com/konstantin_udalov_ca/" target="_blank" rel="noopener").project__socials-item
            +icon('proj-inst').project__socials-icon
            p.project__socials-label konstantin_udalov_ca

    .project__divider 

    .project__body

        .project__body--left

            .project__h2 Задачи:

            ul.project__list
                li.project__list-item Протестировать рекламный канал и начать получать первые обращения на услуги из Instagram
                li.project__list-item Наладить стабильный поток заявок из г. Ванкувер и г. Виннипег. #[span.project__text--primary Средний чек услуги 3700$]
            
            .project__h2 Показатели:

            ul.project__list
                li.project__list-item Посадочная страница - квиз с расчётом стоимости реставрации кухни
                
            ul.project__list
                li.project__list-item.project__list-item--town 
                    | #[span.project__text--yellow Ванкувер] 
                    | #[br]#[span.project__text--primary 505 заявок по 660&nbsp;₽] | бюджет 359&nbsp;450&nbsp;₽
                    | #[br]#[span.project__text--primary 89 заявок по 571&nbsp;₽] | бюджет 50&nbsp;849&nbsp;₽
                
            ul.project__list
                li.project__list-item.project__list-item--town 
                    | #[span.project__text--yellow Виннипег] 
                    | #[br]#[span.project__text--primary 433 заявки по 395&nbsp;₽] с квиз-сайта бюджет 171&nbsp;035&nbsp;₽
                    | #[br]#[span.project__text--primary  289 заявки по 560&nbsp;₽] с лендинга бюджет 161&nbsp;840&nbsp;₽

        .project__body--right

            .project__h2 Результаты:

            ul.project__list
                li.project__list-item.project__list-item--primary Наладили стабильный поток заявок.
                li.project__list-item Нашли эффективные связки.
                li.project__list-item Масштабировались на второй город

            .project__badge
                .project__badge-label 3-5 заявок в день
                .project__badge-text На протяжении 6 месяцев
                