include _mixins
include _vars

doctype html
html(lang="ru")
	head
		block head
			meta(charset="UTF-8")
			meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
			meta(name="format-detection" content="telephone=no")
			meta(content="ie=edge" http-equiv="x-ua-compatible")
			meta(property="og:image" content=`/ogimage.jpg`)
			
			link(rel="stylesheet" href!=stylesPath)

			include includes/_favicon
			include includes/_metrika
	body
		noscript
			img(height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1018952575215330&ev=PageView&noscript=1" alt="")
		noscript
			div
				img(src="https://mc.yandex.ru/watch/66502942" style="position:absolute; left:-9999px;" alt="")
		.app-wrapper
			block header
				include widgets/_header
			block content
			block footer
				include widgets/_footer
			block popup
				include widgets/_popups
			include includes/_svg-templates	
		block scripts
			script(src!=scriptsPath defer)
