//- mode - development / production

//- Links 

- var phoneLink = "tel:84955553575"
- var phoneNumber = "8 495 555-35-75"
- var mailAdress = "info@zhk.com"
- var privacyLink = "/privacy-policy.pdf"

//- social
- var instLink = "https://www.instagram.com/constanto.target/"
- var waLink = "https://api.whatsapp.com/send/?phone=79500389281&text=Отправьте+это+сообщение%2C+и+я+вам+отвечу+в+течение+15+минут&app_absent=0"
- var tgLink = "https://t.me/constanto"

//- image placeholder
- var ipl = "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
//- image paths
- var assets = "./assets/images/"
- var modules = `/modules/images/`
- var assetsIco = "./assets/images/icons/"
- var modulesIco = `/modules/images/icons/`
//- file paths
- var stylesPath = `./assets/styles/main.min.css`
- var scriptsPath = `./assets/scripts/main.min.js`

//- grid breakpoints
- var sm = 480
- var md = 768
- var lg = 1000
- var xl = 1160

//- colors 

//- iconset


