/* ========================================================================
   Component: Slidenav
 ========================================================================== */

.slidenav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
    &__item {}
    &__link {
        pointer-events: initial;
        color: $primary;
        &--prev {}
        &--next {}
    }
    &__icon {}
}

/* ========================================================================
   Component: Thumbnav
 ========================================================================== */

.thumbnav {
    display: flex;
    &__item {
        display: flex;
        &.uk-active {
            .thumbnav {
                &__link {}
            }
        }
    }
    &__link {
        display: inline-block;
        width: 100px;
        height: 100px;
        background: #eee;
        &:hover {}
        &:focus {}
    }
}

/* ========================================================================
   Component: Dotnav
 ========================================================================== */

.dotnav {
    display: flex;
    justify-content: center;
    li {
        cursor: pointer;
        flex: none;
        padding: 0.3rem 0.125rem;
        a {
            display: block;
            width: 1.25rem;
            height: 0.1875rem;

            background: #C4C4C4;

            text-indent: 100%;
            overflow: hidden;
            white-space: nowrap;

            /* Hover + Focus */
            &:hover, &:focus {
                background: link-hover($primary);
                outline: none;
            }
            /* OnClick */
            &:active {
                background: $primary;
            }
        }
        /* Active */
        &.uk-active {
            a {
                background: $gradient-primary;
            }
        }
    }
    &--white {}
    &--yellow {}
}




