.header {
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 3.6875rem;

        @media (min-width: map-get($grid-breakpoints, sm)) {
            height: 7.1875rem;
        }

        @media (min-width: map-get($grid-breakpoints, md)) {
            height: 6.3875rem;
        }

        @media (min-width: map-get($grid-breakpoints, xl)) {
            height: 4.5625rem;
            background: #151D4F;
        }
    }

    &__logo svg {
        width: 7.25rem;

        @media (min-width: map-get($grid-breakpoints, sm)) {
            width: 10.6875rem;
        }
    }

    &__union {
        display: flex;
        align-items: center;
        padding-right: 0.4rem;

        @media (min-width: map-get($grid-breakpoints, sm)) {
            padding-right: 0;
        }
    }

    &__menu {

    }

    &__menu-container {
        padding: 0;
    }

    &__menu-links {
        text-align: right;
    }

    &__links {
        @media (min-width: map-get($grid-breakpoints, lg)) {
            margin-left: 4.7rem;
        }

        @media (min-width: map-get($grid-breakpoints, xl)) {
            margin-left: 17.5rem;
        }
    }

    &__li {
        margin-bottom: 1.0625rem;
        
        @media (min-width: map-get($grid-breakpoints, sm)) {
            font-size: 1.25rem;
            margin-bottom: 1.5rem;
        }
        
        @media (min-width: map-get($grid-breakpoints, lg)) {
            font-size: 1rem;
            margin-bottom: 0;
        }
        
        @media (min-width: map-get($grid-breakpoints, xl)) {
            font-size: 1.0625rem;
        }
    }

    &__link {
        color: $text-light;
        line-height: 0.94em;

        @media (min-width: map-get($grid-breakpoints, lg)) {
            padding: 0.2rem 0.4rem;
            margin: 0 0.3rem;
        }
    }

    &__phone-icon {
        width: 1.6875rem;
        color: $primary;
        margin-right: 0.75rem;

        @media (min-width: map-get($grid-breakpoints, sm)) {
            display: none;
        }
    }

    &__phone-btn {
        display: none;
        
        @media (min-width: map-get($grid-breakpoints, sm)) {
            display: flex;
            margin-right: 1.2rem;
        }
        
        @media (min-width: map-get($grid-breakpoints, md)) {
            margin-right: 2.3rem;
        }
        
        @media (min-width: map-get($grid-breakpoints, lg)) {
            margin-right: 0;
        }
    }
}