.popup {
    align-items: center;
    padding: 1rem 0;
    background: rgba(0, 0, 0, .6);

    &__body {
        width: 17.5rem;
        padding: 0;
        position: relative;
        border-radius: 7px;
        margin-top: auto !important;
        margin-bottom: auto !important;
    }

    &__close {
        color: $primary;
        svg {
            width: 1rem;
        }
    }

    &__title {}

    &__subtitle {}
}

@media (min-width: map-get($grid-breakpoints, sm)) {
    .popup {

        &__body {}

        &__close {
            svg {
                width: 1.5rem;
            }
        }

        &__title {}

        &__subtitle {}
    }
}

@media (min-width: map-get($grid-breakpoints, md)) {
    .popup {

        &__body {}

        &__close {
            right: 1rem;
            top: 1rem;
            svg {
                width: 1.5rem;
            }
        }

        &__title {}

        &__subtitle {}
    }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
    .popup {
        &__body {}

        &__close {
            svg {}

            &:hover {
                color: link-hover($primary);
            }
        }

        &__title {}

        &__subtitle {}
    }
}